<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucy.aitestdemo.dao.AiTestUserMapper">
    <resultMap id="BaseResultMap" type="com.lucy.aitestdemo.entity.AiTestUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="auro_create_case_job_name" jdbcType="VARCHAR" property="auroCreateCaseJobName"/>
        <result column="start_test_job_name" jdbcType="VARCHAR" property="startTestJobName"/>
        <result column="default_jekins_id" jdbcType="INTEGER" property="defaultJekinsId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="selectAiTestUser" parameterType="int" resultType="BaseResultMap">
        SELECT *
        FROM ai_test_user
        where id = #{id}
    </select>
</mapper>